.flat {

}

.raised {
    cursor: pointer;
    margin: 3px;
    width: fit-content;
    border: unset;
    padding: 3px;
    background-color: #6886c5;
    border-radius: 2px;
    color: white;
}

.raised:hover {
    background-color: #688fff;
}

.outline {

}